<p>
	Esta pagina muestra datos de los monoplazas y pilotos que han participado en la sesion de entrenamiento de un GP.
</p>
<p>
	Los datos de los monoplazas corresponden con lo que ha hecho durante la sesion de entrenamiento libres. Se recogen
	los datos de: modelo de monoplaza, numero del monoplaza, piloto que lo pilota, numero de vuelta que ha dada, numero
	de pitstop y la hora y minuto de dichos pitstop.
</p>
<p>
	Los datos del piloto corresponde con lo que ha hecho durante su carrera deportiva y de su vida. Se recogen los datos
	de: el numero como usa de piloto, nombre, fecha de nacimiento, el modelo del monoplaza que pilota, el numero de
	carrera en las que ha participado, numero de victoria, de poles y de podios y por ultimo a la escuderia que
	pertenece.
</p>